@{
    Layout = "";
}
<html !DOCTYPE>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebGl Experiments</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/experiments/dist/assets/css/site.css" media="screen" />
</head>
<body>
    <canvas id="canvas"></canvas>
    <div id="info">
        <h1 id="info__title">Godrays</h1>
        <h2 id="info__subtitle">Volumetric Lighting</h2>
        <p id="info__tags">[ GLSL / Instanced / Occlusion / Post Processing ]</p>
    </div>
    <script src="~/experiments/dist/assets/js/dat.gui.min.js"></script>
    <script src="~/experiments/dist/godrays/bundle.js"></script>
</body>
</html>