<div class="slideshow" (window:resize)="onResize($event)" (window:focus)="playActiveVideo()" (window:blur)="pauseActiveVideo()">
    <div #slideTitlesBlock class="slideshow__slide-titles">
        <div class="slideshow__slide-titles-container">
            <div class="slideshow__title-elements slideshow__title-elements--hidden" *ngFor="let experiment of experiments" (click)="slideToTitleAnimation(experiment.id)">
                <div class="slideshow__title-elements-char" *ngFor="let letter of experiment.title">
                    {{letter}}
                </div>
            </div>
        </div>
    </div>
    <div #slideshow__container class="slideshow__container">
        <div #slideshow__slide class="slideshow__slide" *ngFor="let experiment of experiments">
            <article class="slideshow__content">
                <div class="slideshow__info slideshow__info--slide-up">
                    <span>{{experiment.subtitle}}</span>
                    <span>{{experiment.date}}</span>
                </div>
                <a class="slideshow__info slideshow__info--slide-down" href="lab/{{experiment.route}}" target="blank">
                    <span>Visit Experiment</span>
                </a>
                <div #slideshow__video_container class="slideshow__video-container">
                    <img src="{{experiment.image}}" />
                    <video defaultMuted muted webkit-playsinline playsinline loop class="slide-video__video" src="{{experiment.video}}" type="video/mp4" preload="metadata"></video>
                </div>
            </article>
        </div>
    </div>
    <div #showTitleBtn (click)="toggleTitleMenu()" class="slideshow__view-all">
        <span class="slideshow_view-all-bar"></span>
        <span class="slideshow_view-all-bar"></span>
        <span class="slideshow_view-all-text">View All</span>
    </div>
</div>

<div id="route">Lab</div>