/* Main container */
.main {
    position: relative;
    height: 100%;
}

// splash
#main__border {
    position: absolute;
    height: 1%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3d72a4;
}

/* Router container */
#router-container {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

/* Available Status */
.header__status {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
    cursor: default;
    pointer-events: auto;
}

/* Heart rate */
.header__heart-rate-container {
    position: relative;
    display: inline-block;
}
svg.header__heart-rate {
    position: relative;
}

.header__heart-rate-pulse {
    stroke-dashoffset: 200;
}

.header__heart-rate-pulse--red {
    stroke: red;
}

.header__heart-rate-pulse--green {
    stroke: green;
}

.header__heart-rate-fade-in {
    display: inline-block;
    position: absolute;
    width: 35px;
    height: 100%;
    background-color: #FFFFFF;
    top: 0;
    right: 0;
    animation: heartRateIn 3s linear infinite;
}

.header__heart-rate-fade-out {
    display: inline-block;
    position: absolute;
    width: 35px;
    height: 100%;
    top: 0;
    left: -120%;
    animation: heartRateOut 3s linear infinite;
    background: rgba(255, 255, 255, 1);
}

@keyframes heartRateIn {
    0% {
        width: 35px;
    }

    50% {
        width: 0;
    }

    100% {
        width: 0;
    }
}

@keyframes heartRateOut {
    0% {
        left: -35px;
    }

    30% {
        left: -35px;
    }

    100% {
        left: 0;
    }
}


/* Header */
header {
    pointer-events: none;
    position: absolute;
    display: block;
    width: 100%;
    height: 60px;
    background-color: white;
    transition: background 750ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 10;

    &.active {
        width: 100%;
        height: 100%;
        background-color: #FFF;
        transition: background 550ms cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 10;
    }
}

#header__navigation {
    position: absolute;
}

    #header__nav-list {
        list-style-type: none;
    }

    .header__nav-list-item {
        float: left;
        padding-right: 28px;

        &:last-child {
            padding: 0;
        }

        &.active .header__route-link .header__tick, &:hover .header__route-link .header__tick {
            margin-left: 0;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
    }

    .header__route-link {
        position: relative;
        display: inline-block;
        padding-bottom: 3px;
        overflow: hidden;
    }

    .header__tick {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        margin-left: 9px;
        background-color: #3D72A4;
        overflow: hidden;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        -webkit-transition: margin-left 666ms cubic-bezier(.666,0,.333,1),-webkit-transform 666ms cubic-bezier(.666,0,.333,1);
        transition: margin-left 666ms cubic-bezier(.666,0,.333,1),transform 666ms cubic-bezier(.666,0,.333,1);
    }

    #header__hamburger-text {
        display: none;
    }
    /* Media Queries */
    @media only screen and (min-width: 769px) {
        /* Navigation query */
        #header__navigation {
            top: 1.5rem;
            pointer-events: auto;
        }
    }

    @media only screen and (max-width: 768px) {
        /* Header Query Switch to mobile */
        header {

            &.active {
                pointer-events: auto;

                #header__nav-list {
                    display: inline-block;

                    .header__nav-list-item a {
                        -ms-transform-origin: 50% 0% 0;
                        transform-origin: 50% 0% 0;
                        transform: translate3d(0, 0, 0);
                        opacity: 1;
                        transition: transform 850ms cubic-bezier(0.55, 0, 0.1, 1),opacity 850ms cubic-bezier(0.215, 0.61, 0.355, 1);
                        transition-delay: 0.03s;
                    }
                }
            }
        }

        #header__navigation {
            position: initial;
        }
        #header__nav-list {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translate3d(0, -50%, 0);
            padding: 0;
        }

        .header__nav-list-item {
            box-sizing: border-box;
            width: 100%;
            text-align: center;
            padding: 25px;
            overflow: hidden;
            transition: opacity 300ms cubic-bezier(0.19, 1, 0.22, 1);

            a {
                transform: translate3d(0, 50px, 0) scale(1, 1);
                opacity: 0;
                transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1),opacity 450ms cubic-bezier(0.19, 1, 0.22, 1);
            }

            &:last-child {
                padding: 25px;
            }
        }
        /* Hamburger button */
        #header__hamburger {
            position: absolute;
            top: 1rem;
            left: 1.5rem;
            pointer-events: auto;
            z-index: 11;
        }

        .header__hamburger-patty {
            position: relative;
            display: block;
            height: 2px;
            width: 30px;
            margin-bottom: 9px;
            border-radius: 3px;
            background: #000;
            -webkit-transition: transform 0.5s;
            -moz-transition: transform 0.5s;
            -o-transition: transform 0.5s;
            transition: transform 0.5s;

            &:nth-child(even) {
                width: 23px;
            }

            &:nth-child(3) {
                margin-bottom: 3px;
            }
        }

        #header__hamburger-text {
            display: block;
            font-size: 12px;
        }


        header.active {

            #header__hamburger {

                .header__hamburger-patty:nth-child(1) {
                    -webkit-transform: rotate(135deg) translate(10px, -8px);
                    -moz-transform: rotate(135deg) translate(10px, -8px);
                    -o-transform: rotate(135deg) translate(10px, -8px);
                    transform: rotate(135deg) translate(11px, -8px);
                    width: 35px;
                }

                .header__hamburger-patty:nth-child(2) {
                    opacity: 1;
                    width: 35px;
                    -webkit-transform: rotate(-315deg) translate(-1px, 4px);
                    -moz-transform: rotate(-315deg) translate(-1px, 4px);
                    -o-transform: rotate(-315deg) translate(-1px, 4px);
                    transform: rotate(-315deg) translate(0px, 4px);
                }

                .header__hamburger-patty:nth-child(3) {
                    -webkit-transform: rotate(-135deg) translate(9px, 4px);
                    -moz-transform: rotate(-135deg) translate(9px, 4px);
                    -o-transform: rotate(-135deg) translate(9px, 4px);
                    transform: rotate(-135deg) translate(9px, 4px);
                    width: 35px;
                }
            }
        }
        /* Status */
        .header__status {
            top: 1rem;
            right: 1rem;
        }
    }
