<div class="main">
    <!-- Navigation -->
    <header id="header" [class.active]="showMenu">

        <!-- Hamburger button -->
        <div id="header__hamburger" (click)='toggleNavMenu()'>
            <span class="header__hamburger-patty"></span>
            <span class="header__hamburger-patty"></span>
            <span class="header__hamburger-patty"></span>
            <span id="header__hamburger-text"> Menu</span>
        </div>

        <!-- Status -->
        <a *ngIf="checkRoute(router.url)" class="header__status regular-font">
            <span class="header__status-icon header__status-icon--green"></span>
            <span #status >Available : </span>
            <span #clock ></span>
        </a>

        <!-- Nav links -->
        <div *ngIf="checkRoute(router.url)" id="header__navigation">
            <ul id="header__nav-list" class="regular-font">
                <li class="header__nav-list-item" (click)='toggleNavMenu()' [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/'] "><a class="header__route-link">Home</a></li>
                <li class="header__nav-list-item" (click)='toggleNavMenu()' [routerLinkActive]="['active']" [routerLink]="['portfolio']"><a class="header__route-link">Portfolio</a></li>
                <li class="header__nav-list-item" (click)='toggleNavMenu()' [routerLinkActive]="['active']" [routerLink]="['experiments']"><a class="header__route-link">Experiments</a></li>
                <li class="header__nav-list-item" (click)='toggleNavMenu()' [routerLinkActive]="['active']" [routerLink]="['contact']"><a class="header__route-link">Contact</a></li>

            </ul>
        </div>
    </header>

    <!-- Page Content -->
    <div id="router-container">
        <!--<background></background>-->
        <!-- Router -->
        <router-outlet></router-outlet>
    </div>
</div>