.carousel {
    width: 100%;
    height: 100%;

    .carousel-content {
        display: block;
        white-space: nowrap;

        .project {
            position: absolute;
            width: 100%;
            height: 100vh;
            transform: matrix(.60, 0, 0, .60, 0, 0);

            .video-container {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                opacity: .5;

                video {
                    /* Make video to at least 100% wide and tall */
                    min-width: 100%;
                    min-height: 100%;
                    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
                    width: auto;
                    height: auto;
                    /* Center the video */
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    -webkit-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                }
            }

            .hover-info {
                position: absolute;
                display: block;
                -webkit-transform: translateX(-30px);
                transform: translateX(-30px);
                -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
                top: 5%;

                h1 {
                    font-size: 9rem;
                    margin: 0;
                    margin-bottom: -50px;
                }

                span {
                    display:block;
                    font-size: 2rem;
                    opacity: .4;
                }

                .description {
                    font-size: 2rem;
                    width: 50%;
                }
            }
        }
    }
}

#carousel-slider {
    position: absolute;
    margin: 0 auto;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: pan-y;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 0;

    #carousel-slider-container {
        width: 100%;
        height: 100%;
        display: block;
        transition-duration: 1000ms;

        .project-name-container {
            position: relative;
            width: 100%;
            height: 50px;
            text-align: center;

            span {
                line-height: 50px;
                opacity: .2;
                font-size: 1.2rem;
                letter-spacing: 0;
                cursor: pointer;
                -webkit-transition: all 1.2s cubic-bezier(.23,1,.32,1) 0s;
                -o-transition: all 1.2s cubic-bezier(.23,1,.32,1) 0s;
                transition: all 1.2s cubic-bezier(.23,1,.35,1) 0s;

                &.active {
                    opacity: 1;
                    font-size: 1.5rem;
                    letter-spacing: 5px;
                }
            }
        }
    }
}


#prev-button {
    position: absolute;
    z-index: 1;
}

#next-button {
    position: absolute;
    z-index: 1;
}

.not-clickable {
    cursor: default;
    opacity: .4;
}

i {
    font-size: 180%;
    cursor: pointer;
}

h1 {
    font-size: 10rem;
    margin: 0;
    margin-bottom: -50px;
}

.box-btn {
    display: block;
    position: relative;
    border: black 1px solid;
    cursor: pointer;
    font-size: 1.5rem;
    width: 200px;
    text-transform: uppercase;
    line-height: 50px;
    margin-top: 30px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.bar {
    content: "";
    display: inline-block;
    background: black;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 10px;
    height: 2px;
    width: 150px;
    opacity: .6;
}

#counter {
    position: absolute;
    top: 0;
    left: 0;

    span {
        font-size: 1.1em;
    }

    #current-project {
        opacity: .4;
    }
}

@media only screen and (max-height: 414px) {
    #carousel-slider #carousel-slider-container .project-name-container {
        span {
            font-size: 1rem;

            &.active {
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (max-width: 569px) {
    .carousel .carousel-content .project .hover-info {

        h1 {
            font-size: 6rem;
            margin-bottom: -30px;
        }

        span {
            display: block;
            font-size: 1.5rem;
            opacity: .4;
        }

        .description {
            font-size: 1.5rem;
            width: 50%;
        }
    }
}

