/* Slide show full container*/
.slideshow {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Slide show container */
.slideshow__container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Slide container */
.slideshow__slide {
    display: inline-block;
    margin: auto;
    padding: 20px;

    &.active .slideshow__content .slideshow__info--slide-up {
        visibility: visible;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    &.active .slideshow__content .slideshow__info--slide-down {
        visibility: visible;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

/* Slide Content*/
.slideshow__content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    will-change: transform;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-box-shadow: 0 30px 33px -25px rgba(0,0,0,.7);
    box-shadow: 0 30px 33px -25px rgba(0,0,0,.7);
    cursor: pointer;
}

.slideshow__info {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Space Mono", monospace;
    margin: 8px 0;
    font-size: .8rem;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    overflow: visible;
}

.slideshow__info--slide-up {
    bottom: 100%;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0,150%,0);
    transform: translate3d(0,150%,0);
}

.slideshow__info--slide-down {
    top: 100%;
    right: 0;
    border: 1px solid;
    padding: 5px;
    -webkit-transform: translate3d(0,-150%,0);
    transform: translate3d(0,-150%,0);
}

/* slideshow video container */
.slideshow__video-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 60vw;

    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 55vh;
    }
}

/* Slide titles */
.slideshow__slide-titles {
    position: absolute;
    width: 72vw;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none;
    z-index: 1;
}

.slideshow__slide-titles-container {
    height: 105px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slideshow__title-elements {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 90px;
}

.slideshow__title-elements--hidden {
    visibility: hidden;
}

.slideshow__title-elements-char {
    display: inline-block;
}

.title-element-details {
    margin-top: 5px;
    margin-left: 3px;
    font-size: 28px;
}

video, img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Slide Show View all */
.slideshow__view-all {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    cursor: pointer;
}

.slideshow__view-all--active {
    .slideshow_view-all-bar {
        &:nth-child(1) {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            transform: rotate(-45deg);
        }
    }
}

.slideshow_view-all-bar {
    position: absolute;
    height: 1px;
    background: black;
    width: 30px;
    line-height: -28;
    bottom: 12.5px;
    transition: all .5s ease-in-out;
}

.slideshow_view-all-text {
    position: relative;
    left: 35px;
}

/* Media Queries*/
@media only screen and (max-width: 768px) {

    .slideshow__slide-titles {
        margin: 8px;
    }
    .slideshow__title-elements {
        font-size: 60px;
    }
}

@media only screen and (max-width: 500px) {

    .slideshow__info {
        font-size: .6rem;
    }
}