<div id="bio">
    <div id="bio__intro">
        <h1 id="bio__intro-heading">Hello,</h1>
        <p id="bio__intro-paragraph">
            My name is <b>Christian Kaseburg</b>, and I am a 23 year old <b>Full Stack Developer</b> living in <b>Seattle, Washington</b>.
            I am passionate about developing applications/software, working out, and setting/accomplishing goals.
            My skills are focused on programming in Javascript/Typescript, C#, HTML, CSS and using frameworks like <b>Angular</b>, and <b>ASP.NET</b>.
            <br /><br />If you are interested in getting in touch feel free to send me an email at <b>Christiankaseburg@gmail.com</b>.
        </p>
    </div>
</div>
<div id="bio__img-container">
    <img id="profile_pic" src="../../../../wwwroot/assets/imgs/contact_pic.jpg" />
    <div id="bio__img-container-social">
        <a href="https://github.com/christiankaseburg" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/christian-kaseburg-29b276145/" target="_blank">LinkedIn</a>
        <a href="https://www.instagram.com/chriskaseburg94/" target="_blank">Instagram</a>
    </div>
</div>