.title-container {
    position: absolute;
    display: block;
    text-align: center;
    text-transform: uppercase;
    top: 105px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

#title-container__title {
    font-size: 3rem;
    margin: 0;
}

#title-container__subtitle {
    font-weight: lighter;
    font-size: 2rem;
    letter-spacing: 1px;
}

@media only screen and (max-width: 625px) {

    #title-container__title {
        font-size: 2.5rem;
    }
    #title-container__subtitle {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 476px) {

    #title-container__title {
        font-size: 1.7rem;
    }

    #title-container__subtitle {
        font-size: .9rem;
    }
}